*{
    --gris--claro: #6F757C;
    --gris--medio: #1B1D1F;
    --negro: #111315;
    --verde: #BEE3CC;
    --amarillo: #F6C768;
    --naranja: #F6C768
    --blanco: #FEF7EE;
}

body{
    background-color: var(--negro);

}
header{
    
}